.home-content {
  align-items: center;
  height: 100%;
  width: 100%; }

.home-content img {
  width: 100%;
  object-fit: contain;
  /* This ensures that the image retains its aspect ratio */ }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

header {
  background-color: #333;
  color: #fff;
  padding: 10px; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

nav li {
  margin: 0 10px; }

nav a {
  color: #fff;
  text-decoration: none; }

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f0f0f0; }

.add-btn {
  width: auto;
  /* Make the button size dynamic */
  height: auto;
  color: white;
  padding: 5px 10px;
  background: #087358;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem; }

.add-btn-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.add-btn:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
  /* Add a larger shadow */
  transform: translateY(1px);
  /* Move the button down a bit */ }

.add-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.22);
  /* Add a subtle shadow */ }

.spin {
  animation: spin 0.5s linear infinite; }

.pulse {
  animation: pulse 0.3s; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1); }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

.task-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  width: 250px;
  height: 100px;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  position: relative; }

.task-box.hidden {
  display: none; }

.task-box h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px; }

.task-box p {
  margin: 0; }

.task-box .task-subject {
  margin-top: 8px;
  font-weight: bold; }

.task-box .task-due-date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #777; }

.task-box .task-description {
  display: none; }

.task-box.active .task-description {
  display: block; }

.task-box.active {
  height: 200px; }

.input-panel {
  width: 20vw;
  min-width: 360px;
  min-height: 360px;
  height: 20vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1.051vw;
  border-radius: 0.263vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  flex-direction: column; }

.input-panel.hidden {
  display: none; }

.input-panel-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 1.051vw; }

.input-panel-section > * {
  flex-basis: 50%;
  max-width: calc(50% - 1.051vw);
  /* take into account the padding */ }

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form-group > * {
  width: 100%;
  box-sizing: border-box;
  padding: 0.263vw;
  font-size: 0.841vw;
  border: 1px solid #ccc;
  border-radius: 0.263vw;
  resize: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw; }

.form-group > textarea {
  height: calc(100% - 0.526vw);
  font-family: sans-serif; }

#submit-btn {
  height: 100%;
  padding: 0.525vw 1.051vw;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0.263vw;
  cursor: pointer;
  font-size: 0.841vw; }

#submit-btn:hover {
  background-color: #005fa3; }

#close-btn {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 1.051vw;
  cursor: pointer;
  outline: none; }

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%; }

.column-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 4%;
  height: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align content to the top of the column */
  z-index: 2;
  /* add this property to place the home column in front of the others */
  align-items: center; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 96%;
  margin-left: 4%; }

.column-courses, .column-tasks {
  background-color: #fff;
  padding: 0;
  position: relative; }

.column-courses {
  width: 30%; }

.column-tasks {
  width: 70%; }

.column-top {
  display: flex;
  flex-direction: column;
  font-size: 1.3vw;
  font-weight: bold;
  margin: 5px; }

.column-bottom {
  height: 90%; }

.column-1 {
  left: 0; }

.column-2 {
  right: 0; }

.column-bottom {
  height: 90%;
  padding: 1vw;
  border-top: 1px solid #ccc; }

.column-courses::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #ccc; }

.column-tasks::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #ccc;
  margin-left: -1px;
  /* To make the line align with the right edge of .column-courses */ }
