.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 10vw;
  height: auto;
  margin: 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  position: relative;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.task-item.active {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.task-info {
  width: 100%;
  text-align: left;
  padding-right: 8px;
}

.task-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.task-info h4 {
  font-size: 14px;
  margin: 0;
}

.task-info p {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.task-panel {
  margin-top: 8px;
}

.task-panel p {
  font-size: 12px;
  margin: 0;
}

.task-panel button {
  font-size: 12px;
  margin-top: 8px;
  padding: 4px 8px;
}
