.home-content {
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-text {
  height: 10%;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 10px; /* Add some margin to position the text away from the top edge */
  text-align: center; /* Center the text within its box */
}
